<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongoose Movies</title>
</head>
<body>
  <h1>Flights List</h1>
  <button><a href="flights/sortByDate">Ascending Sort</a></button>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Airport</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Departure Time</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <% let today = new Date() %>
      <% let temp = 'black' %>  
      <% flights.forEach(f => { %>
        <% temp = (today > f.departs) ? 'red' : 'white' %>
        <tr>
            <td style="color: <%= temp %>"><%= f.airline %></td>
            <td style="color: <%= temp %>"><%= f.airport %></td>
            <td style="color: <%= temp %>"><%= f.flightNo %></td>
            <td style="color: <%= temp %>"><%= f.departs%></td>
            <td ><button type="button" class="btn btn-link"><a href="/flights/<%= f.flightNo %>">Details</a></button></td>
          </tr>
        <% }) %>
    </tbody>
  </table>
</body>
</html>