<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Details of Flight Number : <%= flight.flightNo %></h1>

    <h2>airline: <%= flight.airline %></h2>
    <h2>airport: <%= flight.airport %></h2>
    <h2>departs: <%= flight.departs %></h2>

    <br />

    <div>Tickets</div>
    <ul>
      <%- flight.tickets.map(p => `
      <li>${p.seat} <small>${p.price}</small></li>
      ` ).join(' ') %>
    </ul>

    <form
      action="/flights/<%= flight.flightNo %>/destination"
      method="POST"
      autocomplete="off"
    >
    <label> Airport:
      <select name="airport">
          <option value="ATL">ATL</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select> </label><br />
        <% let date = new Date() %> 
        <% date.setDate(date.getDate() + 365) %>
      <input type="datetime-local" name="arrival" value="<%= date.toISOString().slice(0, 16) %>"/>
      <input type="submit" value="Add Destination" />
    </form>

      <% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Destinations</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(r) { %>
        <tr>
          <td><%= r.airport %> - <%= r.arrival %> </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <h5>No Destinations Yet</h5>
    <% } %>
  </body>
</html>
